html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}

header, section, footer {
    width: 70%;
    margin:0 auto;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightheader{
    margin-left: 1rem;
}
.rightheader h1 {
    margin: 0;
}

.rightheader p {
    margin-top:0.2rem;
}

/* NAV BAR */
nav{
    width: 70%;
    margin: 2rem auto;

}

nav ul {
    border-top:2px solid #DA0090;
    border-bottom:2px solid #DA0090;
    list-style-type: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
nav li{
    margin:0.2rem 2rem;
    
}
nav a {
    padding:0.2rem 0.4rem;
    font-weight: bold;
    font-size: 1.2rem;;
}
nav li:hover {
    font-weight: bolder;
}

/* SECTION */
section {
    border-bottom:2px solid #DA0090;
    margin-top: 2rem;
    margin-bottom: 0.2rem;

}
article{
    display: flex;
    margin-bottom: 2rem;
}
article img {
    border-radius: 1rem;
    margin-right: 1rem;
}

/* FOOTER SECTION */
footer {
    border-top:2px solid #DA0090;
    text-align: center;
    font-size: 0.8rem;
}
footer ul {
    list-style-type: none;
}
footer li {
    display: inline;
}
footer p {
    padding-left: 2rem;
}